@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap");

.App {
  text-align: center;
}

.portfoliobg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  padding-top: 6em;
  background-color: #f0f0ff;
  font-family: "Poppins", sans-serif;
}
.omgerdatekst p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.forsidetekst {
  font-size: 2em;
}

.forsidetekst p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
}

/* ---------- grid container styling ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    padding-left: 20em;
    padding-right: 20em;
  }
}

.grid-container > article {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-color: white;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
}

.grid-container > article ::first-letter {
  text-transform: uppercase;
}

.grid-container > article:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
}

.grid-container > article img {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.page {
  background-color: white;
  padding: 2em;
  padding-top: 10em;
}

/* ---------- form styling ---------- */

form {
  margin: auto;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 1em 1em 2em;
  background-color: var(--white);
  max-width: 380px;
  animation: fadeIn 0.5s;
}

form button {
  padding: 12px 15px;
  font-size: 1em;
  width: 100%;
  max-width: 350px;
}

button {
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  color: var(--text-color-light);
  background-color: var(--green);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 0.8em;
  display: block;
  margin: 1em auto 0;
}

button.btn-outline {
  background-color: var(--light-green);
  color: var(--green);
  border: solid 2px var(--green);
}

.btn-sign-out {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 0.7em;
  padding: 2.032em 1em;
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  border: solid 2px var(--green);
}

.image-preview {
  width: 100%;
  max-width: 350px;
  height: 200px;
  object-fit: cover;
  margin: auto;
  display: block;
  cursor: pointer;
}

form .file-input {
  display: none;
}

/* ---------- loader styling ---------- */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-green);
  border-radius: 50%;
  border-top: 5px solid var(--green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.avatar {
  display: flex;
  align-items: center;
  margin: 0 0 1.2em;
  text-align: left;
}

.avatar span {
  margin: 0 0 0 1em;
}

.avatar h3,
.avatar p {
  margin: 0;
}

article .avatar img {
  max-width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.post-row {
  margin-bottom: 40px;
  overflow: hidden;
}

.post-row > article {
  padding: 40px;
  max-width: 800px;
}

.post-row h3 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.post-row p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
  font-size: 1.2em;
  font-weight: 300;
}

@media (min-width: 768px) {
  .post-row {
    display: flex;
    flex-direction: row;
  }
}

.post-row a {
  color: black;
}

@media (min-width: 768px) {
  .post-row a {
    font-size: 0.9em;
  }
}

.post-row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}

@media (min-width: 990px) {
  .post-row figure img {
    height: 600px;
  }
}

.post-row figure {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: white;
}

.omgerda {
  background-color: #0e0e0e;
  padding-top: 10em;
}

.omgerda h1 {
  color: #f6f6f6;
  padding-top: 2em;
  margin: 0;
}

.omgerdatekst {
  color: #f6f6f6;
  padding: 2em;
}

.omgerdatekst p {
  line-height: 1.5em;
}

.omgerdaboks {
  padding-bottom: 6em;
}

@media (min-width: 990px) {
  .omgerdaboks {
    display: flex;
    align-items: center;
    font-size: 1.3em;
  }

  .omgerdatekst {
    color: #f6f6f6;
    padding: 0 5em 0 5em;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 2rem;
  background-color: #ffc47fb5;
  position: fixed;
  z-index: 10000;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.navlogo img {
  height: 65px;
  padding-left: 2em;
}

.navlogo img:hover {
  transform: scale(1.2);
}

div.navbar {
  justify-items: flex-end;
}

.navbar {
  display: flex;
  background-color: #ffc47f00;
  align-items: center;
  gap: 30px;
  height: 100px;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2em;
  text-align: center;
  color: black;
}

.navbar a:hover {
  transform: scale(1.2);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
  display: none;
}

nav .nav-close-btn {
  visibility: hidden;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    display: block;
    visibility: visible;
    opacity: 1;
    margin: 0.5em 4em 0 0;
  }

  .navbar {
    display: flex;
    flex-direction: column;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #f0f0ff;
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive-nav {
    transform: none;
  }

  nav .nav-close-btn {
    visibility: visible;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .omgerdaimg img {
    width: 300px;
  }

  .omgerdaimg {
    text-align: center;
  }
  .portfoliobg {
    padding-top: 10em;
  }

  .footer {
    text-align: center;
  }
}

.kompetencerboks {
  display: grid;
  text-align: center;
  color: white;
  gap: 5em;
  padding: 2em;
}

.kompetencerboks img {
  width: 150px;
}

.kompetencerboks img:hover {
  transform: scale(1.2);
}

.kompetencer {
  background-image: url("./pages/images/kompetencerbg2.png");
  color: white;
  background-size: cover;
  padding-top: 30em;
}

.kompetencerboks1 {
  background-color: #f0f0ff;
  color: black;
  padding: 2em 4em 2em 4em;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
}
.kompetencerboks2 {
  background-color: #f0f0ff;
  color: black;
  padding: 2em 4em 2em 4em;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
}
.kompetencerboks3 {
  background-color: #f0f0ff;
  color: black;
  padding: 2em 4em 2em 4em;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
}

@media (min-width: 600px) {
  .portfoliobg {
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    gap: 5em;
  }

  .portfoliobg img {
    width: 650px;
    margin: 4em;
  }

  .omgerdaimg img {
    width: 500px;
    margin: 0 3em 0 3em;
  }

  .navbar {
    padding-right: 4em;
  }
}

@media (min-width: 992px) {
  .portfoliobg {
    display: flex;
    flex-direction: row;
    padding-left: 1em;
    gap: 5em;
  }
  .portfoliobg img {
    margin: 4em;
    width: 650px;
  }

  .omgerdaimg img {
    width: 500px;
    margin: 0 5em 0 5em;
  }

  .navbar {
    padding-right: 4em;
  }

  .kompetencer {
    padding: 30em 10em 0 10em;
  }

  .kompetencerboks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10em 2em 2em 2em;
  }

  .footer {
    display: flex;
    gap: 5em;
  }
}

.footer {
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.footer img:hover {
  transform: scale(1.2);
}

.kontakt {
  padding-top: 10em;
}

.kontakttekst p {
  text-align: center;
  font-size: 2em;
  padding: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
